/*
	Phantom by Armel
	armelsoubeiga.github.io 
*/

/* Tiles */

	body.is-preload .tiles team {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
		text-align: center;
	}
